@import "normalize.css";

@font-face {
  font-family: "La Machine Company";
  src:
    url("../fonts/la_machine_company-webfont.woff2") format("woff2"),
    url("../fonts/la_machine_company-webfont.woff") format("woff");
}

@font-face {
  font-family: "Underwood Champion";
  src:
    url("../fonts/underwood_champion-webfont.woff2") format("woff2"),
    url("../fonts/underwood_champion-webfont.woff") format("woff");
}

:root {
  --system-ui:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --background-color: hsl(45 51.1% 81.6%);
  --card-color: hsl(44 44.1% 90%);
  --brown-color: hsl(0 10.6% 25.9%);

  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.3125rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2.652rem;
}
