@import "normalize.css";

/* === FONTS === */

@font-face {
  font-family: "La Machine Company";
  src:
    url("../fonts/la_machine_company-webfont.woff2") format("woff2"),
    url("../fonts/la_machine_company-webfont.woff") format("woff");
}

@font-face {
  font-family: "Underwood Champion";
  src:
    url("../fonts/underwood_champion-webfont.woff2") format("woff2"),
    url("../fonts/underwood_champion-webfont.woff") format("woff");
}

/* === GLOBAL VARIABLES === */

:root {
  --system-ui:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --background-color: hsl(45 51.1% 81.6%);
  --card-color: hsl(44 44.1% 90%);
  --brown-color: hsl(0 10.6% 25.9%);
  --green-color: hsl(104 50.5% 79.4%);
  --red-color: hsl(15 96.3% 79%);
  --yellow-color: hsl(60 96.3% 79%);
  --blue-color: hsl(187 70.8% 82.5%);

  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.3125rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2.652rem;
}

/* === GLOBAL STYLES === */

button {
  cursor: pointer;
  transition:
    background 0.4s ease,
    transform 0.4s ease;
  border-radius: 0.3rem;
}

.outer-container {
  background: var(--background-color);
}

/* === NAVBAR === */

.navbar {
  font-family: "La Machine Company", var(--system-ui);
  letter-spacing: 0.3em;
  font-size: clamp(var(--font-size-l), 2vw, var(--font-size-2xl));
  color: var(--white-color);
  background: var(--brown-color);
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  align-items: center;
  justify-content: space-between;
  padding: 2em 1em;
  margin-bottom: 3rem;

  & .add-book {
    padding: 0.8em 2em;
    font-size: clamp(var(--font-size-l), 2vw, var(--font-size-2xl));
    color: var(--brown-color);
    background: var(--white-color);
    letter-spacing: 0.3em;
    border: none;
  }

  & .add-book:hover {
    color: var(--brown-color);
    background: var(--card-color);
  }
}

/* === MAIN === */

.books-list {
  font-family: "Underwood Champion", var(--system-ui);
  padding: 2em 1em;
  background: var(--background-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5em;

  & .card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1.2em 2em;
    background: var(--card-color);
    border-radius: 0.5em;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    & .book-title {
      text-align: center;
      font-family: "La Machine Company", var(--system-ui);
      letter-spacing: 0.2em;
    }

    & .book-author,
    .book-total-pages,
    .book-buttons {
      display: flex;
      gap: 1em;
    }

    & .book-author.title {
      min-width: 6.5em;
    }

    & p {
      word-break: break-all;
    }

    & .book-buttons {
      flex-wrap: wrap;
      margin-top: auto;
    }

    & .book-buttons > button {
      width: 100%;
      padding: 1em 1.5em;
    }

    & .book-buttons > button:hover {
      transform: scale(0.9);
    }

    & .read {
      background: var(--green-color);
    }

    & .unread {
      background: var(--yellow-color);
    }

    & .delete {
      background-color: var(--red-color);
    }
  }
}

/* === MODAL FORM === */

#modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.3em);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.4s ease,
    visibility 0.4s ease;

  & .modal {
    background: var(--background-color);
    padding: 2.5em 2em;
    font-family: "Underwood Champion", var(--system-ui);
    max-width: 40em;
    width: 100%;
    border-radius: 0.5em;
    position: absolute;
    transform: translate(0, -100%);
    transition: transform 0.4s ease;

    & .add-book {
      font-size: clamp(var(--font-size-l), 2.5vw, var(--font-size-xl));
      display: flex;
      gap: 1.5em;
      flex-direction: column;
    }

    & .form-control {
      display: flex;
      gap: 1em;
    }

    & .form-control:not(:last-of-type) {
      flex-direction: column;
    }

    & .form-control:not(:last-of-type) > label {
      max-width: 5ch;
    }

    & .form-control > input:not([type="checkbox"]) {
      width: 100%;
    }

    & .form-button {
      padding: 1em 1.5em;
      background: var(--blue-color);
    }

    & .form-button:hover {
      transform: scale(0.95);
    }
  }
}

#modal-container.show {
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.4s ease,
    visibility 0.4s ease,
    transform 0.4s ease;

  & .modal {
    transform: translate(0, 0);
  }
}

/* === FOOTER === */

.footer-content {
  padding: 1em;
  font-family: "Underwood Champion", var(--system-ui);
  font-size: var(--font-size-s);
  background-color: var(--brown-color);
  margin-top: 3rem;

  & .footer-line {
    color: var(--white-color);
    text-align: center;
  }
}

/* === LAPTOP / TABLETS === */

@media (width > 62.5em) {
  .navbar {
    padding: 1em 6rem;
  }

  .books-list {
    padding: 2.5em 6rem;
    gap: 5em;
  }

  #modal-container {
    & .modal {
      & .form-control:not(:last-of-type) {
        flex-direction: row;
      }
    }
  }
}
